migration_scripts/__pycache__
pynusmv/__pycache__

# Ignore all unpacked dependencies
dependencies/MiniSat/*
dependencies/NuSMV/*

# Ignore compilation dependencies
system.requirement
dependencies/libnusmv.a

# Ignore all generated artifacts
pynusmv_lower_interface/**/*.py
pynusmv_lower_interface/**/*.c
pynusmv_lower_interface/**/*.h
pynusmv_lower_interface/**/*.so

# Ignore all binary artifacts
build/*
dist/*
pynusmv.egg-info/*

# Ignore all compiled test artifacts
tests/__pycache__/*
tests/pynusmv/__pycache__/*
